
.grid {
  margin: 5px 0 0;
}


.container{
  background-color: #294a4c;
  width: auto;
  height: 60px;
  display: flex;
  /* flex-direction: row-reverse; */
  padding-right: 60px;
}
select, .butvizu, .butreset {
  background-color: #48C9B0;
  border: 2px solid whitesmoke;
  color: white;
  width: auto;
  height: 30px;
  border-radius: 20px;
}
.count{
  color: white;
  padding-right: 20px;
  font-weight: bold;
}
.buttonvizu, .buttonrest{
  padding-top: 1.05%;
  padding-right: 30px;
}

.nodee,.nodeType{
  padding-top: 4.5%;
  padding-right: 30px;
}
.algo{
  padding-top: 4.5%;
  padding-right: 8%;
}
.name{
  color: white;
  padding-left: 50px;
  padding-right: 400px;
  /* display: flex; */
  flex-direction: row;
  font-size: 75%;
}



