
.grid {
  margin: 5px 0 0;
}


.container{
  background-color: #294a4c;
  width: auto;
  height: auto;
  display: flex;
  /* flex-direction: row-reverse; */
  padding-right: 60px;
}
select, .butvizu, .butreset {
  background-color: #48C9B0;
  border: 2px solid whitesmoke;
  color: white;
  width: auto;
  height: 30px;
  border-radius: 20px;
}
.count{
  color: white;
  padding-right: 20px;
  font-weight: bold;
}
.buttonvizu, .buttonrest{
  padding-top: 1.05%;
  padding-right: 30px;
}

.nodee,.nodeType{
  padding-top: 4.5%;
  padding-right: 30px;
}
.algo{
  padding-top: 4.5%;
  padding-right: 8%;
}
.name{
  color: white;
  padding-left: 50px;
  padding-right: 400px;
  /* display: flex; */
  flex-direction: row;
  font-size: 75%;
}
.nodinfo{
  display:inline;
  flex-direction: row-reverse;
}
.show{
  visibility: visible;
}
.hide{
  visibility: hidden;
}
#helpmenu{
  width: 100vw;
  height: 100vh;
  background-color: #8ebe90;
  position: fixed; 
  top: 0;
  left: -350px;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
#helpmenu.hide ,#algoinfor.hide {
  transform: translate3d(-100vw, 0, 0);
}
 
#helpmenu.show, #algoinfor.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
  }

 #helpbar{
margin-left: 25em;  

}
.pgcount{
  text-align: center;
}
h3, h4, h6, p, li{
  text-align: left;
}
#algoinfor {
  width: 100vw;
  height: 100vh;
  background-color: #294A4c;
  position: fixed; 
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  overflow: scroll;
  z-index: 1000;
}
/* 
#helpmenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
#helpmenu h2 a:hover {
  text-decoration: underline;
} */
